---
http_interactions:
- request:
    method: post
    uri: https://api.lateral.io/personalisation/users/?subscription-key=<API_KEY>
    body:
      encoding: UTF-8
      string: id=user_id
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"daea56294f0589e4a280ebcc12be18b2"'
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":"user_id","created_at":"2015-01-22T12:13:04.002Z","updated_at":"2015-01-22T12:13:04.002Z"}'
  recorded_at: Thu, 22 Jan 2015 12:13:04 GMT
recorded_with: VCR 2.9.3
