---
http_interactions:
- request:
    method: post
    uri: https://api.lateral.io/personalisation/users/?subscription-key=<API_KEY>
    body:
      encoding: UTF-8
      string: id=user_id
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"56d7ecacdee0e66f4ae2f2067dda5eab"'
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":"user_id","created_at":"2015-02-05T15:40:04.608Z","updated_at":"2015-02-05T15:40:04.608Z"}'
  recorded_at: Thu, 05 Feb 2015 15:40:04 GMT
recorded_with: VCR 2.9.3
