---
http_interactions:
- request:
    method: post
    uri: https://api.lateral.io/collections/arxiv/recommend/?subscription-key=<API_KEY>
    body:
      encoding: UTF-8
      string: document_id=arxiv-http%3A%2F%2Farxiv.org%2Fabs%2F1403.2165
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"distance": 0.0, "title": "Set-valued sorting index and joint equidistributions",
        "url": "http://arxiv.org/abs/1403.2165", "authors": ["Eu, Sen-Pen", "Lo, Yuan-Hsun",
        "Wong, Tsai-Lien"], "date": "2015-02-05", "document_id": "arxiv-http://arxiv.org/abs/1403.2165"},
        {"distance": 0.143046, "title": "The sorting index and set-valued joint equidistributions
        of   $\\mathcal{B}_n$ and $\\mathcal{D}_n$", "url": "http://arxiv.org/abs/1403.2169",
        "authors": ["Eu, Sen-Peng", "Lo, Yuan-Hsun", "Wong, Tsai-Lien"], "date": "2015-02-05",
        "document_id": "arxiv-http://arxiv.org/abs/1403.2169"}, {"distance": 0.387619,
        "title": "Creature forcing and five cardinal characteristics in Cicho\\''{n}[...]
