---
http_interactions:
- request:
    method: post
    uri: https://arxiv-api.lateral.io/recommend-by-id/?subscription-key=<API_KEY>
    body:
      encoding: UTF-8
      string: document_id=arxiv-http%3A%2F%2Farxiv.org%2Fabs%2F1403.2165
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"distance": 0.0, "title": "Set-valued sorting index and joint equidistributions",
        "url": "http://arxiv.org/abs/1403.2165", "text": "  Recently Petersen defined
        a new Mahonian index sor over the symmetric group $\\mathfrak{S}_n$ and proved
        that $(\\text{inv}, \\text{rlmin})$ and $(\\text{sor}, \\text{cyc})$ have
        the same joint distribution. Foata and Han proved that the pairs of set-valued
        statistics $(\\text{Cyc}, \\text{Rmil}), (\\text{Cyc}, \\text{Lmap}), (\\text{Rmil},
        \\text{Lmap})$ have the same joint distribution over $\\mathfrak{S}_n$.   In
        this paper we introduce the set-valued statistics $\\text{Inv}, \\text{Lmil},
        \\text{Sor}$ and $\\text{Lmicycl}_1$ and generalize simultaneously results
        of Petersen and Foata-Han and find many equidistributed triples of set-valued
        statistics and quadruples of statistics. ", "permalink_id": "2acf1a10e33c3a951374b3cd5d9d491c",
        "authors": ["Eu, Sen-Pen", "Lo, Yuan-Hsun", "Wong, Tsai-Lien"], "date": "2014-03-10",
        "document_id": "arxiv-http://arxiv.org/abs/1403.2165"}, {"distance": 0.158086,
        "title": "The sorting index and set-valued joint equidistributions of   $\\mathcal{B}_n$
        and $\\mathcal{D}_n$", "url": "http://arxiv.org/abs/1403.2169", "text": "  The
        sorting indices $\\text{sor}_B$ and $\\text{sor}_D$ on the Coxeter groups
        of type $B$ and $D$ respectively are defined by Petersen and it is proved
        that $(\\text{inv}_B, \\text{rlmin})$ and $(\\text{sor}_B, \\ell''_B)$ have
   [...]
