---
http_interactions:
- request:
    method: post
    uri: https://wikipedia-api.lateral.io/recommend-by-id/?subscription-key=<API_KEY>
    body:
      encoding: UTF-8
      string: document_id=wikipedia-11589297
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"distance": 0.0, "title": "Manned mission to Mars", "url": "http://en.wikipedia.org/wiki?curid=11589297",
        "text": "A manned mission to Mars has been the subject of science fiction,
        engineering, and scientific proposals throughout the 20th century and into
        the 21st century. The plans comprise proposals not only to land on but in
        the end for settling on and terraforming Mars, while exploiting its moons
        Phobos and Deimos.\nPreliminary work for missions has been undertaken since
        the 1950s, with planned missions typically taking place 10 to 30 years in
        the future. ", "permalink_id": "9e677119c316ddc3df2144f99d1cfec5", "date":
        null, "document_id": "wikipedia-11589297"}, {"distance": 0.139374, "title":
        "NASA", "url": "http://en.wikipedia.org/wiki?curid=18426568", "text": "The
        National Aeronautics and Space Administration (NASA) is the agency of the
        United States government that is responsible for the nation''s civilian space
        program and for aeronautics and aerospace research. \nPresident Dwight D.
        Eisenhower established the National Aeronautics and Space Administration (NASA)
        in 1958 with a [...]
