---
http_interactions:
- request:
    method: post
    uri: https://sec-api.lateral.io/recommend-by-id/?subscription-key=<API_KEY>
    body:
      encoding: UTF-8
      string: document_id=SEC_item_1A-http%3A%2F%2Fwww.sec.gov%2FArchives%2Fedgar%2Fdata%2F1099369%2F0001062993-14-006877.txt_item_1A&collections=%5B%22item1a%22%5D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"distance": 0.0, "title": "DESTINY MEDIA TECHNOLOGIES INC_2014_10K_1A",
        "url": "http://www.sec.gov/Archives/edgar/data/1099369/0001062993-14-006877.txt",
        "text": "item 1a. risk factors\u0094, and, from time to time, in other reports\\ndestiny
        media files with the sec. these factors may cause destiny media''s actual\\nresults
        to differ materially from any forward-looking statements. destiny media\\ndisclaims
        any obligation to publicly update these statements, or disclose any\\ndifference
        between its actual results and those reflected in these statements.\\nsuch
        information constitutes forward-looking statements wit[...]
